table {
    width: 100%;
  }

  .mat-cell{
    font-size: 20px;
  }

  .mat-header-cell{
    font-size: 15px;
  }
  
  td, th {
    width: 25%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-elevation-z8{
    margin-top: 20px;
  }